<div class="app-box__result">
  <h1 class="app-box__result__header">
    Your score is <span class="highlight">{{result}}</span> out of {{total}}
  </h1>
  <button class="app-box__result__button" {{action "tryAgain"}}>Try again</button>
</div>
