<div class="app-box js-app-container">
    <span class="app-box__icon">
        <i class="fa fa-question-circle app-box__icon"></i>
    </span>
    <h3 class="app-box__header">
        Question <span class='question-counter'>(<span id="question-number">1</span>/<span id="questions-total"></span>)</span>
    </h3>
    {{outlet}}      
</div>
